<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ul>
        <li routerLinkActive="active">
          <a mat-list-item routerLink="books">Livres</a>
        </li>
        <li routerLinkActive="active"  *ngIf="!isAuth">
          <a mat-list-item routerLink="auth/signup">Créer un compte</a>
        </li>
        <li routerLinkActive="active"  *ngIf="!isAuth">
          <a mat-list-item routerLink="auth/signin">Connexion</a>
        </li>
        <li>
          <a (click)="onSignOut()"
             style="cursor:pointer"
             *ngIf="isAuth">Déconnexion</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--  <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Books</span>
    </mat-toolbar> -->
  </mat-sidenav-content>
</mat-sidenav-container>